# Export all names
export(
  qvalues,
  assoctuple,
  SeqFeatR_GUI,
  assocpoint,
  foundereffectfinder,
  assocpointpair,
  rewritetuple,
  assocpairfeat,
  visualizepairfeat,
  visualizepair,
  assocpair,
  tartan,
  orPlot,
  comparewithancestral,
  getfreqs,
  volcanoplot
)

# Import all packages listed as Imports or Depends
import(
  tcltk,
  tcltk2,
  Biostrings,
  plotrix,
  ggplot2,
  ape
)

# Import smaller dependencies
importFrom(plyr, adply)
importFrom(phangorn, Ancestors)
importFrom(phangorn, read.phyDat)
importFrom(phangorn, pml)
importFrom(phangorn, ancestral.pars)
importFrom(qvalue, qvalue)
importFrom(widgetTools, dropdownList)
importFrom(calibrate, textxy)
